<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmb.infrastructure.persistent.mapper.PermissionAuditLogMapper">

    <insert id="insertAudit">
        INSERT INTO digital_team_permission_audit_log
        (business_id, tenant_id, project_id, actor_user_id, action,
        target_id, detail) VALUES (#{id}, #{tenantId}, #{projectId},
        #{actorUserId}, #{action}, #{targetId}, #{detail})
    </insert>

</mapper>
