<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmb.infrastructure.persistent.mapper.PlatformAdminMapper">

    <select id="countByUser" resultType="int">
        SELECT COUNT(*) FROM digital_team_platform_admin WHERE user_id = #{userId}
    </select>

</mapper>
